@model LittleLMS.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>Användarens detaljer.</h2>

<div>
    <h4>Användare.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.UserName)*@
            @Html.Label("Användarnamn")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<h4>Lista av roller för denna användare:</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>Inga roller kopplade till denna användare.</p>
}

<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Redigera", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tillbaka till listan", "Index")
</p>



