@model LittleLMS.LittleLMSModels.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Name)        </dt>
        <dd>@Html.DisplayFor(model => model.Name)        </dd>

        <dt>@Html.DisplayNameFor(model => model.Description)        </dt>
        <dd>@Html.DisplayFor(model => model.Description)        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

    </dl>
    <h4>Module</h4>
    <hr />
    @if (Model.Modules.Any()) {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Modules.First().Name)
                </th>
                <th>
                    grdg
                </th>
                <th>
                    gfdg
                </th>
                <th>
                    dgg
                </th>
                <th></th>
            </tr>

            @foreach (var module in Model.Modules) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => module.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => module.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => module.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => module.EndDate)
                    </td>
                </tr>
            }

        </table>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tillbaka till listan", "Index")
</p>
