@model LittleLMS.LittleLMSModels.Course

@{
    ViewBag.Title = "Details";
}

<h2>Detaljer</h2>

<div>
    <h4>Kurs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Lärare"))
    {
        @Html.ActionLink("Redigera", "Edit", new { id = Model.Id }) <span>|</span>
        @Html.ActionLink("Tillbaka till listan", "Index")
    }
    @if (User.IsInRole("Elev"))
    {
        @Html.ActionLink("Tillbaka till listan", "Index")
    }
</p>
