@model IEnumerable<LittleLMS.LittleLMSModels.Course>

@{
    ViewBag.Title = "Index";
}

@if (User.IsInRole("Lärare"))
{
    <h2>Kurser</h2>
    <h6>@ViewBag.UserName</h6>
    <p>
        @Html.ActionLink("Lägg till ny kurs", "Create")
    </p>
    <h2>@ViewBag.CourseName</h2>
    <h4>@ViewBag.CourseDescription</h4>
    <h4>@ViewBag.CourseInterval</h4>
}

@if (User.IsInRole("Elev"))
{
    <h6>@ViewBag.UserName</h6>
    <h2>@ViewBag.CourseName</h2>
    <h4>@ViewBag.CourseDescription</h4>
    <h4>@ViewBag.CourseInterval</h4>
}

@Html.ValidationSummary("", new { @class = "text-error" })

<table class="table">
    @if (User.IsInRole("Lärare"))
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
        </tr>

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.ActionLink("Lägg till elev", "Create", "Students", new { courseId = item.Id }, null) |
                    @Html.ActionLink("Moduler", "Index", "Modules", new { courseId = item.Id }, null) |
                    @Html.ActionLink("Redigera", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Ta bort", "Delete", new { id = item.Id }) |
                </td>
            </tr>
        }
    }
</table>

<table class="table">
    @if (User.IsInRole("Elev"))
    {
        <caption>@Html.Label("Kursens moduler:")<br />@ViewBag.CourseModulesMessage</caption>
        foreach (var item in (IEnumerable<LittleLMS.LittleLMSModels.Module>)ViewBag.CourseModules)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.ActionLink("Aktiviteter", "Index", new { moduleId = item.Id })
                </td>
            </tr>
        }
    }
</table>

<table class="table">
    @if (User.IsInRole("Elev"))
    {
        <caption>@Html.Label("Modulens aktiviteter:")<br />@ViewBag.ModuleActivitiesMessage</caption>
        foreach (var item in (IEnumerable<LittleLMS.LittleLMSModels.Activity>)ViewBag.ModuleActivities)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
            </tr>
        }
    }
</table>

<table class="table">
    @if (User.IsInRole("Elev"))
    {
        <caption>@Html.Label("Elever:")<br />@ViewBag.CourseStudentsMessage</caption>

        <tr>
            <th>
                @Html.Label("Namn")
            </th>
            <th>
                @Html.Label("Email")
            </th>
            @*<th>
                    @Html.Label("Kursnamn")
                </th>*@
            <th></th>
        </tr>

        foreach (var item in (IEnumerable<LittleLMS.Models.ApplicationUser>)ViewBag.CourseStudents)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>*@
            </tr>
        }
    }
</table>

<table class="table">
    @if (User.IsInRole("Elev"))
    {
        <caption>@Html.Label("Elevens dokument:")<br />@ViewBag.StudentDocumentsMessage</caption>
        <tr>
            <th>
                Mottagartyp
            </th>
            <th>
                Dokumenttyp
            </th>
            <th>
                Dokumentnamn
            </th>
            <th>
                Beskrivning
            </th>
            <th>
                Uppladdad av
            </th>
            <th>
                Registreringsdatum
            </th>
        </tr>

        foreach (var item in (IEnumerable<LittleLMS.LittleLMSModels.Document>)ViewBag.StudentDocuments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiverType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadedByName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfRegistration)
                </td>
                <td>
                    @Html.ActionLink("Ladda ner", "Download", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>

<table class="table">
    @if (User.IsInRole("Elev"))
    {
        <caption>@Html.Label("Kurs dokument:")<br />@ViewBag.CourseDocumentsMessage</caption>
        <tr>
            <th>
                Mottagartyp
            </th>
            <th>
                Dokumenttyp
            </th>
            <th>
                Dokumentnamn
            </th>
            <th>
                Beskrivning
            </th>
            <th>
                Uppladdad av
            </th>
            <th>
                Registreringsdatum
            </th>
        </tr>

        foreach (var item in (IEnumerable<LittleLMS.LittleLMSModels.Document>)ViewBag.CourseDocuments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiverType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadedByName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfRegistration)
                </td>
                <td>
                    @Html.ActionLink("Ladda ner", "Download", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>

<table class="table">
    @if (User.IsInRole("Elev"))
    {
        <caption>@Html.Label("Modul dokument:")<br />@ViewBag.ModuleDocumentsMessage</caption>
        <tr>
            <th>
                Mottagartyp
            </th>
            <th>
                Dokumenttyp
            </th>
            <th>
                Dokumentnamn
            </th>
            <th>
                Beskrivning
            </th>
            <th>
                Uppladdad av
            </th>
            <th>
                Registreringsdatum
            </th>
        </tr>

        foreach (var item in (IEnumerable<LittleLMS.LittleLMSModels.Document>)ViewBag.ModuleDocuments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiverType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadedByName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfRegistration)
                </td>
                <td>
                    @Html.ActionLink("Ladda ner", "Download", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>

<table class="table">
    @if (User.IsInRole("Elev"))
    {
        <caption>@Html.Label("Modulens alla aktiviteter dokument:")<br />@ViewBag.ActivityDocumentsMessage</caption>
        <tr>
            <th>
                Mottagartyp
            </th>
            <th>
                Dokumenttyp
            </th>
            <th>
                Dokumentnamn
            </th>
            <th>
                Beskrivning
            </th>
            <th>
                Uppladdad av
            </th>
            <th>
                Registreringsdatum
            </th>
        </tr>

        foreach (var item in (IEnumerable<LittleLMS.LittleLMSModels.Document>)ViewBag.ActivityDocuments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiverType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadedByName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfRegistration)
                </td>
                <td>
                    @Html.ActionLink("Ladda ner", "Download", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>

<table class="table">
    @if (User.IsInRole("Lärare"))
    {
        <caption>@Html.Label("Lärarens dokument:")<br />@ViewBag.TeacherDocumentsMessage</caption>
        <tr>
            <th>
                Mottagartyp
            </th>
            <th>
                Dokumenttyp
            </th>
            <th>
                Dokumentnamn
            </th>
            <th>
                Beskrivning
            </th>
            <th>
                Uppladdad av
            </th>
            <th>
                Registreringsdatum
            </th>
        </tr>

        foreach (var item in (IEnumerable<LittleLMS.LittleLMSModels.Document>)ViewBag.TeacherDocuments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiverType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadedByName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfRegistration)
                </td>
                <td>
                    @Html.ActionLink("Ladda ner", "Download", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>
