@model IEnumerable<LittleLMS.LittleLMSModels.Module>

@{
    ViewBag.Title = "Index";
}

@if (User.IsInRole("Lärare"))
{
    <h2>Moduler</h2>
    <h6>@ViewBag.UserName</h6>
    <p>
        @Html.ActionLink("Lägg till ny modul", "Create")
    </p>
    <h2>@ViewBag.CourseName</h2>
    <h4>@ViewBag.CourseDescription</h4>
    <h4>@ViewBag.CourseInterval</h4>
}

@Html.ValidationSummary("", new { @class = "text-error" })

<table class="table">
    @if (User.IsInRole("Lärare"))
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th></th>
        </tr>

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.ActionLink("Aktiviteter", "Index", "Activities", new { moduleId = item.Id }, null) |
                    @Html.ActionLink("Redigera", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Ta bort", "Delete", new { id = item.Id }) |
                </td>
            </tr>
        }
    }
</table>

@if (User.IsInRole("Lärare"))
{
    <div>
        @Html.ActionLink("Tillbaka till kurser", "Index", "Courses")
    </div>
}
